/*#region utility*/

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

:root{
    --bg_sustain: #008000;
    --bg_footer: #1A1A1A;
    --bg_discount: #FF0000;
    --bg_nav: #FF6900;
    --white: #FFFFFF;
}

img{
    width: 100%;
}

.col_1{
    width: calc(100% / 12 * 4 - 1rem);
}


.cl_red{
    color: var(--bg_discount);
    font-weight: bolder;
}

del{
    font-weight: bolder;
}

.margin_b{
    margin-bottom: 10px;
}

body{
    font-family: 'Inter', sans-serif;
}
/*#endregion utility*/

/*#region nav*/
#site_header{
    background-color: var(--bg_nav);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav_bar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-right:1rem;
}

a{
    text-decoration: none;
    color: var(--white);
}

#logo_nav{
    width: 100px;
}


#icons i{
    margin-left: 1rem;
}

/*#endregion nav*/

/*#region main*/
#site_main{
    margin-top: 50px;
}

.row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 50px;

}

.container_elements{
    position: relative;
}

.hearts{
    position: absolute;
    top:10px;
    right: 0;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.discount{
    background-color: var(--bg_discount);
    color: white;
    padding: 5px 10px;
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.sustain{
    background-color: var(--bg_sustain);
    color: white;
    padding: 5px 10px;
    position: absolute;
    bottom: 50px;
    left: 70px;
}

.sustain_var{
    background-color: var(--bg_sustain);
    color: white;
    padding: 5px 10px;
    position: absolute;
    bottom: 50px;
    left: 0px;
}
/*#endregion main*/

/*#region hover*/

.container_elements:hover{
    color: #FF0000;
}

.img_1:hover{
    content: url(../img/1b.webp);
}

.img_2:hover{
    content: url(../img/2b.webp);
}

.img_3:hover{
    content: url(../img/3b.webp);
}

.img_4:hover{
    content: url(../img/4b.webp);
}

.img_5:hover{
    content: url(../img/5b.webp);
}

.img_6:hover{
    content: url(../img/6b.webp);
}

/*#endregion hover*/


/*#region footer*/

#site_footer{
    margin-top: 50px;
    background-color: #1A1A1A;
    color: var(--white);
}

.footer_section{
    padding: 1rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icons_footer{
    margin-top: 10px;
}

.icons_footer i{
    margin-right: 10px;
}


/*#endregion footer*/